.header {
  margin-bottom: 1rem;
}

.textHighlight {
  font-size: 1.9em;
  margin: 0.5rem 0;
  font-weight: 500;
}

.subText {
  font-size: 0.8em;
  font-weight: 300;
}

.statCards {
  gap: 2rem;
}

.chart {
  margin: 3rem 0;
  padding: 2rem 4rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 15px;
}
